body {
    font-family: Arial, sans-serif;
    padding: 40px;
    line-height: 1.6;
}
img {
    width: 200px;
    height: auto;
    border-radius: 15px;
    border: 2px solid #ccc;
}
h1 {
    color: #2c3e50;
}

ul {
    padding-left: 20px;
    color: #555;
}

li {
    margin-botton: 8px;
}